.home-header {
    display: flex;
    align-items: center;
    height: 100%;

    @include textNoSelect();

    &__nav {
        flex: 1;
        overflow: hidden;
        display: flex;

        &-menu {
            line-height: 64px;
            flex: 1;
            overflow: hidden;
        }
    }
}
