.home-header {
    display: flex;
    align-items: center;
    height: 100%;

    @include textNoSelect();

    &__nav {
        flex: 1;
        overflow: hidden;
        display: flex;

        &-tabs {
            line-height: 64px;
            flex: 1;
            overflow: hidden;

            .ant-tabs .ant-tabs-nav .ant-tabs-nav-wrap {
                flex: none;
            }

            &-button {
                color: gray;
            }
        }
    }
}
