.home-header {
    display: flex;
    align-items: center;
    height: 100%;

    @include textNoSelect();

    &__title {
        flex: none;
        width: 260px;
        font-size: 24px;
        color: #fff;
        white-space: nowrap;
        background: $dark-light;
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        transition: width 0.2s;

        &.title-collapsed {
            width: 80px;
        }
    }

    &__nav {
        flex: 1;
        overflow: hidden;
        display: flex;

        &-menu {
            line-height: 64px;
            flex: 1;
            overflow: hidden;

            &-item {
                position: relative;
                padding: 0;
                display: flex;

                &:hover {
                    color: #fff;

                    .icon {
                        color: #fff;
                        opacity: 1;
                        transition: color 0.3s $ease-in-quint, opacity 0.4s $ease-in-quint, top 0.4s $ease-in-back;

                        &.close {
                            top: 50%;

                            &.active {
                                top: calc(50% - 12px);
                            }
                        }

                        &.reload {
                            top: calc(50% + 12px);
                        }
                    }

                    .home-header__nav-menu-item-text {
                        transform: translateX(-6px);
                    }
                }

                &-text {
                    padding: 0 9px 0 6px;
                    transform: translateX(0);
                    transition: transform 0.3s $ease-out-back;
                }

                .icon {
                    position: absolute;
                    right: 0;
                    @include absolute-center-vertical();

                    opacity: 0;
                    margin-right: 14px;
                    color: rgba(255, 255, 255, 0.65);
                    transition: color 0.3s $ease-out-quint, opacity 0.5s $ease-out-quint, top 0.4s $ease-in-back;

                    &.close,
                    &.reload {
                        top: 50%;
                    }
                }
            }
        }
    }

    &__setting {
        flex: none;

        &-button {
            color: #fff;
            margin: 0 7px;

            &:hover,
            &:focus,
            &:active {
                color: #dadada;
            }
        }
    }
    &__notice {
        flex: none;
        &-button {
            color: #fff;
            margin: 0 7px;
            &:hover,
            &:focus,
            &:active {
                color: #dadada;
            }
        }
    }

    &__user {
        flex: none;
        position: relative;
        height: 100%;

        &:hover {
            // background: $dark-light;
        }

        &-button {
            color: #fff;
            margin-right: 14px;
            height: 100%;

            &:hover,
            &:focus,
            &:active {
                color: #dadada;
            }
        }

        .ant-popover {
            padding: 0;
        }
        .ant-popover-arrow {
            display: none;
        }

        .ant-popover-inner {
            background: #001529;
        }
    }
}
